<div class="col-12" >
    <div class="col-12 " style="text-align:center;">
      <img src="./assets/img/Logo_spltoon2.png" style="height: 14pc;" />
      <h1>Login</h1>
    </div>
    <div class="col-12" style="text-align:center;">
      <div style=" margin-right: 106px; margin-bottom:10px;">
        <span>Username</span>
      </div>
      <input type="text" placeholder="username" />
    </div>
    <div class="col-12" style="text-align:center;">
      <div style="margin-right: 106px; margin-bottom:10px;margin-top:10px; ">
        <span>Password</span>
      </div>
      <input type="password" placeholder="Password" />
    </div>
    <div class="col-12" style="text-align:center;">
        <div style=" margin-right: 106px; margin-bottom:10px;margin-top:10px; ">
          <span>ConfirmPassword</span>
        </div>
        <input type="password" placeholder="ConfirmPassword" />
      </div>
  
      <div class="col-12" style="margin-top:15px;text-align: center">
        <input type="submit" value="Register" style="margin-right:10px" />
      </div>
      <div class="col-12 pointer " style="margin-top:15px;text-align: center">
        <input type="button" (click)="back()"value="BACK" style="margin-right:10px" />
      </div>
  
  </div>
  
