<div class="col-12" style="text-align:center;">
  <div class="col-12">
    <img src="./assets/img/Logo_spltoon2.png" style="height: 300px;" />
    <h1>Login</h1>
  </div>
  <div class="col-12">
    <div style=" margin-right: 106px; margin-bottom:10px;">
      <span>Username</span>
    </div>
    <input type="text" placeholder="username" />
  </div>
  <div class="col-12">
    <div style=" margin-right: 106px; margin-bottom:10px;margin-top:10px; ">
      <span>Password</span>
    </div>
    <input type="text" placeholder="username" />
  </div>
  <div class="col-12 ">
    <div class="col-6" style="margin-top:15px">
      <input type="button" value="Login" style="margin-right:10px" />
    </div>
    <div class="col-6" style="margin-top:15px">
      <a  href="https://www.w3schools.com">Register account</a>
    </div>
  </div>
</div>

